@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Payment Processed Successfully </h1>
    @model SuccessModel

    @Html.DisplayFor(m => m.Message)

</div>
